<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Buscar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row *ngFor="let receta of recetasAPI">
      <ion-col>
        <ion-img
          src="{{receta.meals[0].strMealThumb}}"
          alt="The Wisconsin State Capitol building in Madison, WI at night"
        ></ion-img>
        <ion-item>
          <ion-label>{{receta.meals[0].strMeal}}</ion-label>
          <ion-button color="danger" (click)="guardarReceta(receta.meals[0])"
            >Guardar</ion-button
          >
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="getRecetas()"
  >
    <ion-fab-button>
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
