<ion-grid [fixed]="true">
    <ion-row *ngFor="let receta of recetasService.recetas">
      <ion-col>
        <ion-img (click)="recetaSeleccionada(receta)" src="{{receta.imagen}}"></ion-img>
        <ion-item>
          <ion-button
            aria-label="Edit"
            color="light"
            (click)="editarReceta(receta)"
          >
            <ion-icon
              name="create-outline"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
          <ion-label>{{receta.titulo}}</ion-label>
          <ion-button
            aria-label="Delete"
            color="light"
            (click)="eliminarReceta(receta)"
          >
            <ion-icon
              name="close-circle-outline"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
